<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.internet.shop.controllers.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>All users</servlet-name>
        <servlet-class>com.internet.shop.controllers.users.UserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>All users</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.internet.shop.controllers.users.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/users/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>com.internet.shop.controllers.users.DeleteUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>removeProdFromShopcart</servlet-name>
        <servlet-class>com.internet.shop.controllers.shopcarts.RemoveProductFromShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>removeProdFromShopcart</servlet-name>
        <url-pattern>/shoppingCarts/products/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>com.internet.shop.controllers.products.AddProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>com.internet.shop.controllers.products.GetAllProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProductToCart</servlet-name>
        <servlet-class>com.internet.shop.controllers.shopcarts.AddProductToCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProductToCart</servlet-name>
        <url-pattern>/shoppingCarts/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showCart</servlet-name>
        <servlet-class>com.internet.shop.controllers.shopcarts.ShopCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showCart</servlet-name>
        <url-pattern>/shoppingCarts/products</url-pattern>
    </servlet-mapping>
</web-app>
