<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>com.internet.shop.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/users/all</url-pattern>
        <url-pattern>/orders/*</url-pattern>
        <url-pattern>/shopping-carts/*</url-pattern>
        <url-pattern>/products/manage*</url-pattern>
        <url-pattern>/products/add*</url-pattern>
    </filter-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorHandler</location>
    </error-page>


</web-app>
